body {
    background: #ffffff;
    display: block;
    position: relative;
    top: 80px;
    text-align: center;
    background-color:rgb(255, 255, 255);
}
h1{
    color: #0a471d;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: arial, arial, sans-serif;
}
h2{
    color: #0a471d;
    font-size: x-large;
    font-weight: bolder;
    font-family: arial, arial, sans-serif;
}
h3{
    color: #0a471d;
    font-size: large;
    font-weight: bolder;
    font-family: arial, arial, sans-serif;
}
.textheader{
    color: #0a471d;
    font-size: 18px;
    font-weight: bolder;
    font-family: arial, arial, sans-serif;
    display: flex;
    text-align: justify; 
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 50px;
    width: 40em
}
.text1{
    font-family: arial, arial, sans-serif;
    font-size: 18px;
    display: flex;
    text-align: justify; 
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 40em
}
.text2{
    font-family: arial, arial, sans-serif;
    font-size: 18px;
    display: flex;
    text-align: justify; 
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 40em

}
.text3{
    font-family: arial, arial, sans-serif;
    font-size: 18px;
    display: flex;
    text-align: justify; 
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 40em

}
